@namespace DotNet8.BankingManagementSystem.Frontend.Components.Ui

@if (!string.IsNullOrWhiteSpace(Href))
{
    <a href="@Href" class="@ComputedClass" aria-disabled="@Disabled" @onclick="OnClick">
        @ChildContent
    </a>
}
else
{
    <button type="@Type" class="@ComputedClass" disabled="@Disabled" @onclick="OnClick">
        @ChildContent
    </button>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter] public string? Href { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Type { get; set; } = "button";

    [Parameter] public UiButtonVariant Variant { get; set; } = UiButtonVariant.Default;
    [Parameter] public UiButtonSize Size { get; set; } = UiButtonSize.Default;
    [Parameter] public string? Class { get; set; }

    private string ComputedClass => ClassNames.Merge(
        "btn",
        Variant switch
        {
            UiButtonVariant.Default => "btn-primary",
            UiButtonVariant.Secondary => "btn-secondary",
            UiButtonVariant.Neutral => "btn-neutral",
            UiButtonVariant.Destructive => "btn-error",
            UiButtonVariant.Outline => "btn-outline",
            UiButtonVariant.Ghost => "btn-ghost",
            UiButtonVariant.Link => "btn-link",
            _ => "btn-primary"
        },
        Size switch
        {
            UiButtonSize.Sm => "btn-sm",
            UiButtonSize.Lg => "btn-lg",
            UiButtonSize.Icon => "btn-square",
            _ => null
        },
        Class
    );
}

